.footer {
    left: 0;
    //bottom: 100%;
    width: 100%;
    //background-color: #212121; //#E24128 vermillion
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 3px;
    line-height: 10px;
    .col-sm {
        line-height: 20px;
    }
}

.fa {
    padding: 4px;
}