<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="footer">
    <h4>Fullstack Shack</h4>
    <hr>
    <div class="row">

        <div class="col-sm">
            <h5>Navigation</h5>
            <div class="row">
                <div class="col-sm">

                    <a routerLink="/home">Home</a>
                    <br>
                    <a routerLink="/menu">Menu</a>
                    <br>
                    <a routerLink="/login">Login</a>
                    <br>
                    <a routerLink="/locations">Locations</a>
                    <br>
                    <a routerLink="/pagenotfound">Gift Cards</a>
                </div>
            </div>
        </div>

        <div class="col-sm">
            <h5>Connect with Us</h5>
            <i style="font-size:30px" class="fa">&#xf081;</i>
            <!--Twitter-->
            <i style="font-size:30px" class="fa">&#xf082;</i>
            <!--Facebook-->
            <a href="https://www.linkedin.com/in/alexander-denicola-8088/"><i style="font-size:30px" class="fa">&#xf08c;</i></a>
            <!--LinkedIn-->
        </div>
    </div>
</div>