p {
    color: white;
    position: relative;
    margin-left: 10%;
    font-size: 18px;
}
body {
    float: right;
    margin: auto;
    margin-right: 5%;
    background-color: transparent;
    padding: 10px;
}
#imageOne {
    float: left;
    margin-left: 10%;
}
#imageTwo {
    float: right;
    margin-right: 10%;
}