<div class="test">
  <div class="row">
    <div class="col-sm">
      <div class="testBox">
        <img src="../../../../assets/images/icons/opportunities.jpg">
        <h4 class="overlayText">Opportunities</h4>
      </div>
      <div class="testBox">
        <a href="https://kappasigma.org/military-heroes/">
          <img src="../../../../assets/images/icons/philantrophy.jpg">
          <h4 class="overlayText">Philantrophy</h4>
        </a>
      </div>
      <div class="testBox">
        <a routerLink="/locations">
          <img src="../../../../assets/images/icons/ext_gradient.png">
          <h4 class="overlayText">Locations</h4>
        </a>
      </div>
    </div>
  </div>
</div>
<br>