body {
    text-align: center;
    background-color: black;
    color: greenyellow;
}

input {
    background-color: gray;
    color: black;
}

ul {
    text-align: center;
}

video {
    z-index: 20;;
}