<body>
    <video width="640" height="368" controls>
        <source src="../../assets/volume/trailer.webm" type="video/webm" id="video">
        Your browser does not support HTML5 video.
      </video>

      <p>ENTER VOLUME CODE:</p>
  <form>
    <input type="text" name="key" id="key"/>
    <input type="submit" value="Submit" (click)="setVolume()"/>
  </form>

  <h1>Current Volume is at: {{volume}}</h1>
<p>DOWNLOAD LIST:</p>
<ul>
  <a href="../../assets/volume/1.txt" download>DOWNLOAD: 1</a><br>
  <a href="../../assets/volume/2.txt" download>DOWNLOAD: 2</a><br>
  <a href="../../assets/volume/3.txt" download>DOWNLOAD: 3</a><br>
  <a href="../../assets/volume/4.txt" download>DOWNLOAD: 4</a><br>
  <a href="../../assets/volume/5.txt" download>DOWNLOAD: 5</a><br>
  <a href="../../assets/volume/6.txt" download>DOWNLOAD: 6</a><br>
  <a href="../../assets/volume/7.txt" download>DOWNLOAD: 7</a><br>
  <a href="../../assets/volume/8.txt" download>DOWNLOAD: 8</a><br>
  <a href="../../assets/volume/9.txt" download>DOWNLOAD: 9</a><br>
  <a href="../../assets/volume/10.txt" download>DOWNLOAD: 10</a><br>
  <a href="../../assets/volume/11.txt" download>DOWNLOAD: 11</a><br>
  <a href="../../assets/volume/12.txt" download>DOWNLOAD: 12</a><br>
  <a href="../../assets/volume/13.txt" download>DOWNLOAD: 13</a><br>
  <a href="../../assets/volume/14.txt" download>DOWNLOAD: 14</a><br>
  <a href="../../assets/volume/15.txt" download>DOWNLOAD: 15</a><br>
  <a href="../../assets/volume/16.txt" download>DOWNLOAD: 16</a><br>
  <a href="../../assets/volume/17.txt" download>DOWNLOAD: 17</a><br>
  <a href="../../assets/volume/18.txt" download>DOWNLOAD: 18</a><br>
  <a href="../../assets/volume/19.txt" download>DOWNLOAD: 19</a><br>
  <a href="../../assets/volume/20.txt" download>DOWNLOAD: 20</a><br>
  <a href="../../assets/volume/21.txt" download>DOWNLOAD: 21</a><br>
  <a href="../../assets/volume/22.txt" download>DOWNLOAD: 22</a><br>
  <a href="../../assets/volume/23.txt" download>DOWNLOAD: 23</a><br>
  <a href="../../assets/volume/24.txt" download>DOWNLOAD: 24</a><br>
  <a href="../../assets/volume/25.txt" download>DOWNLOAD: 25</a><br>
  <a href="../../assets/volume/26.txt" download>DOWNLOAD: 26</a><br>
  <a href="../../assets/volume/27.txt" download>DOWNLOAD: 27</a><br>
  <a href="../../assets/volume/28.txt" download>DOWNLOAD: 28</a><br>
  <a href="../../assets/volume/29.txt" download>DOWNLOAD: 29</a><br>
  <a href="../../assets/volume/30.txt" download>DOWNLOAD: 30</a><br>
  <a href="../../assets/volume/31.txt" download>DOWNLOAD: 31</a><br>
  <a href="../../assets/volume/32.txt" download>DOWNLOAD: 32</a><br>
  <a href="../../assets/volume/33.txt" download>DOWNLOAD: 33</a><br>
  <a href="../../assets/volume/34.txt" download>DOWNLOAD: 34</a><br>
  <a href="../../assets/volume/35.txt" download>DOWNLOAD: 35</a><br>
  <a href="../../assets/volume/36.txt" download>DOWNLOAD: 36</a><br>
  <a href="../../assets/volume/37.txt" download>DOWNLOAD: 37</a><br>
  <a href="../../assets/volume/38.txt" download>DOWNLOAD: 38</a><br>
  <a href="../../assets/volume/39.txt" download>DOWNLOAD: 39</a><br>
  <a href="../../assets/volume/40.txt" download>DOWNLOAD: 40</a><br>
  <a href="../../assets/volume/41.txt" download>DOWNLOAD: 41</a><br>
  <a href="../../assets/volume/42.txt" download>DOWNLOAD: 42</a><br>
  <a href="../../assets/volume/43.txt" download>DOWNLOAD: 43</a><br>
  <a href="../../assets/volume/44.txt" download>DOWNLOAD: 44</a><br>
  <a href="../../assets/volume/45.txt" download>DOWNLOAD: 45</a><br>
  <a href="../../assets/volume/46.txt" download>DOWNLOAD: 46</a><br>
  <a href="../../assets/volume/47.txt" download>DOWNLOAD: 47</a><br>
  <a href="../../assets/volume/48.txt" download>DOWNLOAD: 48</a><br>
  <a href="../../assets/volume/49.txt" download>DOWNLOAD: 49</a><br>
  <a href="../../assets/volume/50.txt" download>DOWNLOAD: 50</a><br>
  <a href="../../assets/volume/51.txt" download>DOWNLOAD: 51</a><br>
  <a href="../../assets/volume/52.txt" download>DOWNLOAD: 52</a><br>
  <a href="../../assets/volume/53.txt" download>DOWNLOAD: 53</a><br>
  <a href="../../assets/volume/54.txt" download>DOWNLOAD: 54</a><br>
  <a href="../../assets/volume/55.txt" download>DOWNLOAD: 55</a><br>
  <a href="../../assets/volume/56.txt" download>DOWNLOAD: 56</a><br>
  <a href="../../assets/volume/57.txt" download>DOWNLOAD: 57</a><br>
  <a href="../../assets/volume/58.txt" download>DOWNLOAD: 58</a><br>
  <a href="../../assets/volume/59.txt" download>DOWNLOAD: 59</a><br>
  <a href="../../assets/volume/60.txt" download>DOWNLOAD: 60</a><br>
  <a href="../../assets/volume/61.txt" download>DOWNLOAD: 61</a><br>
  <a href="../../assets/volume/62.txt" download>DOWNLOAD: 62</a><br>
  <a href="../../assets/volume/63.txt" download>DOWNLOAD: 63</a><br>
  <a href="../../assets/volume/64.txt" download>DOWNLOAD: 64</a><br>
  <a href="../../assets/volume/65.txt" download>DOWNLOAD: 65</a><br>
  <a href="../../assets/volume/66.txt" download>DOWNLOAD: 66</a><br>
  <a href="../../assets/volume/67.txt" download>DOWNLOAD: 67</a><br>
  <a href="../../assets/volume/68.txt" download>DOWNLOAD: 68</a><br>
  <a href="../../assets/volume/69.txt" download>DOWNLOAD: 69</a><br>
  <a href="../../assets/volume/70.txt" download>DOWNLOAD: 70</a><br>
  <a href="../../assets/volume/71.txt" download>DOWNLOAD: 71</a><br>
  <a href="../../assets/volume/72.txt" download>DOWNLOAD: 72</a><br>
  <a href="../../assets/volume/73.txt" download>DOWNLOAD: 73</a><br>
  <a href="../../assets/volume/74.txt" download>DOWNLOAD: 74</a><br>
  <a href="../../assets/volume/75.txt" download>DOWNLOAD: 75</a><br>
  <a href="../../assets/volume/76.txt" download>DOWNLOAD: 76</a><br>
  <a href="../../assets/volume/77.txt" download>DOWNLOAD: 77</a><br>
  <a href="../../assets/volume/78.txt" download>DOWNLOAD: 78</a><br>
  <a href="../../assets/volume/79.txt" download>DOWNLOAD: 79</a><br>
  <a href="../../assets/volume/80.txt" download>DOWNLOAD: 80</a><br>
  <a href="../../assets/volume/81.txt" download>DOWNLOAD: 81</a><br>
  <a href="../../assets/volume/82.txt" download>DOWNLOAD: 82</a><br>
  <a href="../../assets/volume/83.txt" download>DOWNLOAD: 83</a><br>
  <a href="../../assets/volume/84.txt" download>DOWNLOAD: 84</a><br>
  <a href="../../assets/volume/85.txt" download>DOWNLOAD: 85</a><br>
  <a href="../../assets/volume/86.txt" download>DOWNLOAD: 86</a><br>
  <a href="../../assets/volume/87.txt" download>DOWNLOAD: 87</a><br>
  <a href="../../assets/volume/88.txt" download>DOWNLOAD: 88</a><br>
  <a href="../../assets/volume/89.txt" download>DOWNLOAD: 89</a><br>
  <a href="../../assets/volume/90.txt" download>DOWNLOAD: 90</a><br>
  <a href="../../assets/volume/91.txt" download>DOWNLOAD: 91</a><br>
  <a href="../../assets/volume/92.txt" download>DOWNLOAD: 92</a><br>
  <a href="../../assets/volume/93.txt" download>DOWNLOAD: 93</a><br>
  <a href="../../assets/volume/94.txt" download>DOWNLOAD: 94</a><br>
  <a href="../../assets/volume/95.txt" download>DOWNLOAD: 95</a><br>
  <a href="../../assets/volume/96.txt" download>DOWNLOAD: 96</a><br>
  <a href="../../assets/volume/97.txt" download>DOWNLOAD: 97</a><br>
  <a href="../../assets/volume/98.txt" download>DOWNLOAD: 98</a><br>
  <a href="../../assets/volume/99.txt" download>DOWNLOAD: 99</a><br>
  <a href="../../assets/volume/100.txt" download>DOWNLOAD: 100</a><br>
</ul>
  
</body>