<div class="imgContainer">
  <div class="row">
    <div class="col-sm">
      <div class="first_box">
        <a routerLink="/pagenotfound">
          <img src="../../assets/images/catering_1.png">
          <div class="imgCaption">
            <img id="label" src="../../assets/images/catering_label.png">
          </div>
        </a>
        <button class="btn" routerLink="/pagenotfound">Order Now</button>
      </div>
    </div>
    <div class="col-sm">
      <div class="second_box">
        <a routerLink="/menu">
          <img src="../../assets/images/menu_pallette.png">
          <div class="imgCaption">
            <img id="label" src="../../assets/images/menu_label.png">
          </div>
        </a>
        <button class="btn" routerLink="/menu">Explore Our Menu</button>
      </div>
    </div>
  </div>
</div>